@import url(style.css);

/* Style Hero Section */

.hero .title {
    font-size: 2.6rem;
}

.hero .desc {
    line-height: 1.5;
}

.hero .primary-button {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.hero .card {
    cursor: pointer;
}

.hero .card:hover {
    border-color: var(--secondary-color);
}



/* Favorite Foods Section */

.food .card {
    border-radius: 0.2rem;
    user-select: none;
}

.food .card img {
    border-radius: 0.2rem;
}

.food .card .card-info {
    color: var(--black-color);
    font-weight: var(--fw-medium);
}

svg {
    height: 20px;
}

.rating-background {
    width: 100%;
    height: 100%;
    fill: #FFE372;
    stroke: red;
    stroke-width: 1;
}

.rating-value {
    height: 100%;
    fill: var(--primary-color);
}

.food .card .primary-button {
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 0.6rem;
    color: var(--white-color);
    font-weight: var(--fw-medium);
    text-align: center;
}

.food .card .type {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    padding: 0.3rem 0.7rem;
    background-color: #3B44F6;
    border-radius: 0.4rem;
}

.food .card .type .food-type {
    color: var(--white-color);
    font-weight: var(--fw-semibold);
    text-transform: capitalize;
}

.food .card .vegan-parameter,
.food .card .health-parameter {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.food .card.vegan .vegan-parameter {
    background-color: #3EC70B;
}

.food .card.not-vegan .vegan-parameter,
.food .card.not-healthy .health-parameter {
    background-color: #FF1E1E;
}

.food .card.healthy .health-parameter {
    background-color: #277BC0;
}