@import url(style.css);

.jumbotron {
    height: 27rem;
    background-image: url("https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: 0.7;
}

.jumbotron .jumbotron-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron .jumbotron-content .title {
    color: var(--white-color);
}

.jumbotron .jumbotron-content .search-input {
    width: 50rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    color: var(--black-color);
}

.jumbotron .jumbotron-content .search-input.active {
    border-radius: 0.4rem 0.4rem 0 0;
}

.jumbotron .jumbotron-content .search-button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 0.4rem;
    color: var(--white-color);
}

.jumbotron .jumbotron-content .auto-complete {
    width: 50rem;
    border-radius: 0 0 0.4rem 0.4rem;
}



/* Style Food Section */

.food .card .primary-button {
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 0.6rem;
    color: var(--white-color);
    font-weight: var(--fw-medium);
    text-align: center;
}



/* Media Queries */

@media only screen and (max-width: 876px) {
    .jumbotron .jumbotron-content .search-input {
        width: 30rem;
    }

    .jumbotron .jumbotron-content .auto-complete {
        width: 30rem;
    }
}

@media only screen and (max-width: 576px) {
    .jumbotron {
        height: 20rem;
    }

    .jumbotron .jumbotron-content .search-button {
        display: none;
    }
}

@media only screen and (max-width: 556px) {
    .jumbotron .jumbotron-content .search-input {
        width: 20rem;
    }

    .jumbotron .jumbotron-content .auto-complete {
        width: 30rem;
    }
}

@media only screen and (max-width: 396px) {
    .jumbotron .jumbotron-content .search-input {
        width: 100%;
    }

    .jumbotron .jumbotron-content .auto-complete {
        width: 30rem;
    }
}